

.brief_section{
    margin-top: 15%;
}

.about_me_section{
    margin-top: 300px;
}

.education_section{
    margin-top: 300px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main section {
    width: 60%;
}
